body {
    margin-top: 2%;
    background: linear-gradient(90deg, rgba(0,22,208,1) 0%, rgba(172,170,0,1) 50%, rgba(255,0,0,1) 100%);
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

.judul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9rem;
}

.form {
    margin-bottom: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.content {
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    font-size: 7rem;
    display: flex;
    color : black;
}

.tombol {
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
}
